.files-container{
  position: relative;
  padding-bottom: 11px;
  &::after{
    content: "";
    position: absolute;
    transform-origin: center;
    box-sizing: border-box;
    pointer-events: none;
    top: auto;
    left: 24px;
    right: 0;
    bottom: 0;
    transform: scaleY(0.5);
    border-bottom: 1PX solid #d6e4ef;
  }
}

.files__list-item{
  padding-bottom: 5px;
}
